*{
  padding:0;
  margin:0;
  font-family: 'Urbanist', sans-serif;
  color: #2A2F4F;;

}
.container {
  background-image: url("./img/bgPink.png");
  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Adjust the background position as needed */
  min-height: 100vh;
}

header {
 font-size:25px ;
  padding: 5px;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
  gap: 20px;
  border-bottom: 2px solid rgb(169, 113, 122);
  padding: 2px;
}
header nav ul li {
  display: inline-block;
  margin-right: 10px;
  font-size:25px ;
}

header nav ul li a {
  padding: 5px 20px;
  color: #2A2F4F;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

header nav ul li a:hover{
  color: rgb(169, 113, 122); 
  text-shadow: 1px 1px 2px rgba(64, 64, 64, 0.4);
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

main {
  padding: 20px;
}

h1 {
  color: #2A2F4F;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

p {
  color: #555;
  line-height: 1.5;
}

.overview {
  margin-top: 50px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
 

}

.overview h1 {

  width: 50%;
  font-size: 50px;
  
  
}




.about-me-container{
  padding:40px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-challenges {
  background-color: rgba(242, 242, 242, 0.4);
  padding: 10px;
  width: 80%;
  
 
}
.imgDiv{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
 
}

.imgDiv img{
 width: 30%;
 border-radius: 50%;
}
.project-challenges a {

 text-align: center;
 text-decoration: none;
  
}

.dis-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dis-container p {
margin-top:10px ;
margin-bottom: 40px;
padding:50px;
font-size: 25px;
height: 500px;

width: 70%;

  
}




.linkedInSm{
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color:#555;
  font-size: 20px;
  text-align: center;
}
.linkedInSm img{
  width: 50px;
  transition: transform 0.3s;
}

.linkedInSm img:hover {
  transform: scale(1.1); 
}
.linkedInSm a{
text-decoration: none;
 
}


footer {
  text-align: center;
}

@media screen and (max-width:1024px) {
  
  
  
  
  
  .about-me-container{
    padding:5px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imgDiv img{
    width: 50%;
    border-radius: 50%;
   }
  .project-challenges {
    background-color: rgba(242, 242, 242, 0.4);
    padding: 2px;
    width: 90%;
    
   
  }


  .project-challenges a {
  
   text-align: center;
   text-decoration: none;
    
  }
  
  .dis-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dis-container p {
  margin-top:10px ;
  padding: 5px;
  margin-bottom: 40px;
  font-size: 20px;
  height: auto;
  text-align: center;
  width: 100%;
  
    
  }
  
  .project-challenges h2 {
    text-align: center;
    font-size:40px;
    padding-top: 20px;
    margin-bottom: 100px;
    color:#c98fc6;
  }
  

  .linkedInSm h2{
    
    font-size: 20px;
  
  }
}