*{
  padding:0;
  margin:0;
  font-family: 'Urbanist', sans-serif;
  color: #2A2F4F;;

}
.container {
  background-image: url("./img/bgPink.png");
  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Adjust the background position as needed */
  min-height: 100vh;
}

header {
 font-size:30px ;
  padding: 10px;
}

header nav ul {
  text-decoration: none;
  padding: 5px 20px;
  background-color:transparent;
  border: 2px solid #2A2F4F;
  color: #2A2F4F;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 30px;
  text-align: center;
}

header nav ul li {
  display: inline-block;
  margin-right: 10px;
}

header nav ul li a {

  padding: 10px 20px;
  color: #2A2F4F;
  text-decoration: none;

  border-radius: 5px;
  transition: background-color 0.3s;
}

main {
  padding: 20px;
}

h1 {
  color: #2A2F4F;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

p {
  color: #555;
  line-height: 1.5;
}

.project-overview {
  margin-bottom: 20px;
}

.technologies-used{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technologies-used ul {

  list-style-type: none;
  padding: 0;
}

.technologies-used h2 {
  margin-bottom: 20px;

font-size: 30px;
}

.technologies-used ul li {
  display: inline-block;
  font-size:20px ;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: #c98fc6;
  color: #2A2F4F;
  padding: 5px 10px;
  border-radius: 5px;
}




.project-challenges-cotainer{
  padding:40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-challenges {
  background-color: rgba(242, 242, 242, 0.8);
  padding: 10px;
  width: 94%;
  
 
}

.project-challenges a {

 text-align: center;
 text-decoration: none;
  
}

.project-challenges p {
margin-top:10px ;
margin-bottom: 10px;
font-size: 22px;
  
}

.project-challenges h2 {
  text-align: center;
  font-size:30px;
  padding-bottom: 10px;
  color:#c98fc6;
}
.githubSm{
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color:#555;
  font-size: 20px;
  text-align: center;
}
.githubSm img{
  width: 80px;
  transition: transform 0.3s;
}

.githubSm img:hover {
  transform: scale(1.1); 
}
.githubSm a{
text-decoration: none;
 
}
.githubSm h2{
  font-size: 18px; /* Adjust the font size as needed */
  color: #2A2F4F; 
 
}

footer {
  text-align: center;
}