*{
  padding:0;
  margin:0;
  /* font-family: 'Gochi Hand', cursive; */
  font-family: 'Urbanist', sans-serif;

}

/* .container{
  background-color: #111;
  overflow: hidden;
} */
.container {
  background-image: url("./img/bgPink.png");
  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Adjust the background position as needed */
  overflow: hidden;
}

.navbar {

  align-items: center;

  padding: 5px;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 25px;
  gap: 20px;
  border-bottom: 2px solid rgb(169, 113, 122);
  padding: 10px;

}


.nav-links li a {
  padding-left: 20;
  color: #333;
  text-decoration: none;
}

.contact-details {
  display: flex;
  align-items: center;
}

.contact-icon {
  font-size: 20px;
  margin-right: 5px;
}

.contact-info {
  font-size: 14px;
}

.salute{
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.saluteTextContainer{
  flex:5;
}

.saluteImgContainer{
  flex:3;
}

.saluteImg{
  width: 100%;
}
.saluteText{
  color:#2A2F4F;
  font-size: 63vw;
  cursor: default;
}

.nameContainer{
  height: 100vh;
  /* background-color: #ddbfc7; */
}

.name{
  font-size: 20vw;
  color:#2A2F4F;;
  text-align: center;
  line-height: 100vh;
}

.jobTitleContainer{
  height: 100vh;
}
.dark{
  background:url('./img/bg1.png');

}
.purple{
  background: url('./img/bg2.png');

}


.jobTitle{
  font-size: 10vw;
  color: #2A2F4F;;
  line-height: 100vh;

}

.projects{
  display: flex;
  flex-direction:column;
  gap:30vh;
  padding: 0px 100px;
}

.projectsTitle{
  font-size: 10vw;
  color: #2A2F4F;
}

.project{
  display: flex;
  align-items: center;
  gap:100px;
  height: 100vh;
  overflow: hidden;
}

.project:nth-child(2n){
  flex-direction: row-reverse;
}

.phone{
  flex:1;
  width: 300px;
  height: 600px;

  position: relative;
}

.phoneScreen{
  width: 264px;
  height: 567px;
  position: absolute;
  top: 17px;
  left: 18px;
  border-radius: 28px;
  overflow: scroll;

}

/* fix the scollbar */
.phoneScreen::-webkit-scrollbar{
  display: none;
}

.phoneApp{
  width: 100%;
}

.projectDetail{
  flex:1;
  display: flex;
  flex-direction: column;
  gap:50px;
  align-items: center;
}

.projectTitle{
  font-size: 8vh;
  color:#2A2F4F;;
}

.projectDesc{
  font-size: 23px;
  color: #2A2F4F;;
  text-align: justify;
  line-height: 40px;
}

.projectButton{
  text-decoration: none;
  padding: 10px 20px;
  background-color:transparent;
  border: 2px solid #2A2F4F;;
  color: #2A2F4F;;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}

.projectButton::after {
  content:'View Demo';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #e4b5cb;
  left: -100%;
  transition:1.2s all;
  color:#2A2F4F;
  font-size: 16px;
  padding-top: 10px;

}

.projectButton:hover.projectButton::after{
  transform: translateX(100%);
}

.labtop{
  width: 600px;
  height: 379px;
  flex: 1;
  position: relative;
}

.labtopScreen{
  width: 451px;
  height: 290px;
  position: absolute;
  top: 18px;
  left: 68px;
  overflow: scroll;

}

.labtopScreen::-webkit-scrollbar{
  display: none;
}
.labtopApp{
  width: 100%;

}

.githubContainer{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.githubTitle{
  font-size: 100px;
  color: #2A2F4F;
}

.githubChart{
  width:820px;
  text-align: center;
}
.dates {
  padding: 10px;
  color:#2A2F4F;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.boxContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.box{
  width: 15px;
  height: 15px;
  background-color: #edd9f0;
  border-radius: 2px;
  cursor: pointer;
  transition: 3s all ease;
}

.active:nth-child(4n){
  background-color: #FFD6A5;
}

.githubChart:hover .active:nth-child(2n+1){
  background-color: #FF9B9B;
}

.githubChart:hover .active:nth-child(2n){
  background-color: #FFFEC4;
}


.githubSm {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.githubSm a {
  display: inline-block;
  margin-bottom: 10px;
}

.githubSm img {
  margin: 20px;
  width: 80px; 
  height: 80px; 
}

.githubSm h2 {
  font-size: 40px;
  color: #2A2F4F; 
}


.cv a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: transparent;
  color: #2B2730;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 30px;
  margin-top: 50px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.cv a:hover {
  transform: scale(1.1);
  background-color: #2A2F4F;
  border-radius: 5px;
  color: white;
}


.aboutMe{
  margin-top: 220px;
  flex:1;
  display: flex;
  flex-direction: column;
  gap:50px;
  align-items: center;
  width: 50%;
}

.aboutMetTitle{
  font-size: 40px;
  color:#2A2F4F;
}

.paboutMeDesc{
  font-size: 25px;
  color: #2A2F4F;;
  text-align: justify;
  line-height: 40px;
  letter-spacing: 1px;
}

@media screen and (max-width:1024px) {

  .projects{
    padding: 0 30px;
    text-align: center;
  }

  .project{
    flex-direction: column;
    height: max-content;
  }
  .project:nth-child(2n){
    flex-direction: column;
  }

  .projectTitle{
    font-size: 40px;
  }
  .projectDetail{
    width: 300px;
  }
  .phone,.laptop{
    transform: none !important;
  }
  
  .githubChart{
    display: none;
  }

  .githubTitle{
    text-align: center;
    font-size: 10vw;
  }

  .githubSm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color:#555;
    font-size: 30px;
    text-align: center;
  }
 
  .githubSm a {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .githubSm img {
    margin: 10px;
    width: 50px; 
    height: 50px; 
  }
  
  .githubSm h2 {
    font-size: 20px;
    color: #2B2730;
  }
  .nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:end;
    font-size: 15px;
    gap: 20px;
    border-bottom: 2px solid rgb(169, 113, 122);
    padding: 10px;
  
  }
  
}